@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000000;
    --White-font: #FFFFFF;
    --header-curriculo: #345473;
    
    --fonte-header: "Khula", sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(../assents/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-attachment: fixed;
}

.headerConteiner{
    display: flex;
    justify-content: end;
    background-color: black;
    padding: 1.5% 15%;
    opacity: 50%;
}

.headerConteiner__nav{
    display: flex;
    gap: 25px;   
}

.headerConteiner__nav__link{
    color: var(--White-font);
    font-family: var(--fonte-header);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid var(--White-font);
}

.headerConteiner__nav__link:hover{
    transform: translateY(-2px);
}

.mainConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainConteiner__title{
    display: flex;
    justify-content: center;
    margin: 5% 34%;
    color: var(--White-font);
    font-family: var(--fonte-header);
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    padding: 0 2rem;
    background-color: rgba(0,0,0,0.2);
}

.mainConteiner__icones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 2%;
    border: 3px solid black;
    border-radius: 20px;
    margin: 2% 15%;
    max-width: 72rem;
    min-width: 62.2rem;
    gap: 5%;
    background-color: rgba(0,0,0,0.3);
}

.mainConteiner__icones__divIcones{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FFFFFF;
    filter: blur(80px);  */
    border-radius: 50px;
    overflow: hidden;
    color: var(--White-font);
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 24px;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.mainConteiner__icones__icones{
    width: 160px;
    height: 160px;
}

.mainConteinerS{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 3%;
    
}

.mainConteinerS__sobre{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 1%;
    max-width: 1300px;
    height: auto; 
    color:var(--White-font);
    align-items: center;
    text-align: justify;
    border: 3px solid var(--black);
    border-radius: 25px;
}

.mainConteinerS__sobre__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 50%;
    font-size: 22px;
    font-family: var(--fonte-texto);
}

.mainConteinerS__sobre__img{
    width: 374px;
    height: 374px;
    border-radius: 100%;
    filter: grayscale(100%);
}

.mainConteinerS__sobre__texto__title{
    font-size: 34px;
}

.mainConteinerS__curriculo{

    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid var(--black);
    border-radius: 20px;
    max-width: 1500px;
    min-width: 1100px;
    /* margin: 10%; */
}

.mainConteinerS__header{
    background-color: rgba(52, 84, 115, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-left: 5%;
    border-radius: 20px;
}

.mainConteinerS__header__img{
    margin-top: 2%;
    margin-bottom: -80px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: grayscale(100%);
}

.mainConteinerS__header__texto{
    display: flex;
    flex-direction: column;
    gap: 15%;
    text-align: right;
    color: var(--White-font);
}

.mainConteinerS__header__texto__nome{
    font-size: 34px;
    font-family: var(--fonte-texto);
}

.mainConteinerS__header__texto__texto{
    font-size: 20px;
    font-family: var(--fonte-texto);   
}

.mainConteinerS__curriculo__main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 8% 3%;
    color: var(--White-font);
}

.mainConteinerS__curriculo__main__left, .mainConteinerS__curriculo__main__rigth{
    display: flex;
    flex-direction: column;
    max-width: 475px;
    /* min-width: 475px; */
    gap: 30px;
    text-align: center;
}

.mainConteinerS__curriculo__main__left__title, .mainConteinerS__curriculo__main__rigth__title{
    font-size: 34px;
    font-family: var(--fonte-texto);
    margin-bottom: -30px;
}

.mainConteinerS__curriculo__main__left__empresa, .mainConteinerS__curriculo__main__rigth__empresa{
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    gap: 30px;
    border: 3px solid var(--White-font);
    border-radius: 20px;
}

.mainConteinerS__curriculo__main__left__empresa__title, .mainConteinerS__curriculo__main__rigth__empresa__title{
    font-size: 20px;
    font-family: var(--fonte-texto);
}

.mainConteinerS__curriculo__main__left__empresa__texto, .mainConteinerS__curriculo__main__rigth__empresa__texto{
    font-size: 20px;
    font-family: var(--fonte-texto);    
}

span{
    margin-top: 13px;
}

@media (max-width: 1100px) and (min-width: 750px){

    .mainConteinerS__sobre{
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .mainConteinerS__sobre__texto{
        width: auto;
    }

    .mainConteinerS__sobre__img{
        width: 237px;
        height: 237px;
        border-radius: 100%;
    }

    .mainConteinerS__curriculo{

        background-color: rgba(0, 0, 0, 0.5);
        border: 3px solid var(--black);
        border-radius: 20px;
        max-width: 1500px;
        min-width: 0;
        /* margin: 10%; */
    }

    .mainConteinerS__curriculo__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainConteinerS__header{
        /* display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; */
    }

    .mainConteinerS__header__img{
        margin-top: 2%;
        margin-bottom: 0;
        width: 237px;
        height: 237px;
        border-radius: 100%;
        filter: grayscale(100%);
    }

    .mainConteiner__icones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3% 2%;
        border: 3px solid black;
        border-radius: 20px;
        margin: 2% 15%;
        max-width: 72rem;
        min-width: 0;
        gap: 20px;
    }

    span{
        margin-top: -50px;
    }

}

@media (max-width: 759px) and (min-width: 460px){
    .mainConteinerS__sobre{
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .mainConteinerS__sobre__texto{
        width: auto;
    }

    .mainConteinerS__sobre__img{
        width: 237px;
        height: 237px;
        border-radius: 100%;
    }

    .mainConteinerS__curriculo{
        background-color: rgba(0, 0, 0, 0.5);
        border: 3px solid var(--black);
        border-radius: 20px;
        max-width: 1500px;
        min-width: 0;
        /* margin: 10%; */
    }

    .mainConteinerS__curriculo__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainConteinerS__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .mainConteinerS__header__img{
        margin-top: 2%;
        margin-bottom: 0;
        width: 237px;
        height: 237px;
        border-radius: 100%;
        filter: grayscale(100%);
    }

    .mainConteiner__icones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3% 2%;
        border: 3px solid black;
        border-radius: 20px;
        margin: 2% 15%;
        max-width: 72rem;
        min-width: 0;
        gap: 20px;
    }

    .mainConteiner__icones__icones{
        width: 120px;
        height: 120px;
    }

    span{
        margin-top: -50px;
    }
}

@media (max-width: 459px) {

    .mainConteinerS__sobre{
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 30px;
        border: 1px solid var(--black);
        background-color: rgba(0,0,0,0.3);
        border-radius: 20px;
    }

    .mainConteiner__title{
        font-size: 1.5rem;
        
    }

    .mainConteinerS__sobre__texto{
        width: auto;
        font-size: 20px;
    }

    .mainConteinerS__sobre__img{
        width: 237px;
        height: 237px;
        border-radius: 100%;
    }

    .mainConteinerS__curriculo{
        background-color: rgba(0, 0, 0, 0.5);
        border: 3px solid var(--black);
        border-radius: 20px;
        max-width: 1500px;
        min-width: 0;
        /* margin: 10%; */
    }

    .mainConteinerS__curriculo__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainConteinerS__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .mainConteinerS__header__img{
        margin-top: 2%;
        margin-bottom: 0;
        width: 237px;
        height: 237px;
        border-radius: 100%;
        filter: grayscale(100%);
    }

    .mainConteiner__icones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3% 2%;
        border: 3px solid black;
        border-radius: 20px;
        margin: 2% 15%;
        max-width: 72rem;
        min-width: 0;
        gap: 20px;
    }
    
    .mainConteiner__icones__icones{
        width: 100px;
        height: 100px;
    }

    span{
        margin-top: -50px;
    }
}